body {
    background-color: black;
    color: white;
    display: flex;
    /* make it a flex container */
    flex-direction: column;
    /* stack items vertically */
    align-items: center;
    /* horizontal centering */
    justify-content: top-center;
    /* vertical centering */
    padding: 20px;
    min-height: 100vh;
    /* make body full height */
    text-align: center;
    /* center text inside items */
}

form {
    display: flex;
    flex-direction: column;
    /* stack inputs vertically */
    gap: 15px;
    /* space between form items */
}
